:root{
    --main-font: "Fraunces", "Arial", sans-serif;
}

.works__plan-wrap{
    background: #2C343E;
}
.hero-plan {
    width: 100%;
    height: 400px;
    margin-top: 90px;
    border-radius: 10px;
    background-image: url("../images/plan-hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-plan__title {
    margin-top: 0;
    padding-top: 111px;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;
}
.hero-plan__content {
}

.hero-plan__text {
    margin: 0;
    padding: 0 10px;
    padding-bottom: 87px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.works--plan{
    background: #2C343E;
    border-radius: 10px;
}
.works__item--plan:nth-child(1) {
    margin-top: 80px;
}
.works__item--plan:nth-child(3) {
    margin-bottom: 79px;
}
.works__item--plan{
    /* padding-left: 40px; */
}
.works__item--plan h3{
    color: #FFFFFF;
}
.works__item--plan p{
    color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.drink{
    margin-top: 120px;
}
.drink__ollist{
    display: none;
}
.drink__list {
    list-style: none;
    padding-left: 0;
}
.drink__item {
    margin-top: 30px;
}
.drink__details {
    
}
.drink__details[open] .drink__summary::after{
    transform: rotate(180deg);
}
.drink__summary {
    position: relative;
    font-family: var(--main-font);
    list-style: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #83888F;
}
.drink__summary::after{
    position: absolute;
    top: 20px;
    right: 0;
    margin-left: 10px;
    content: '';
    display: inline-block;
    width: 19px;
    height: 11px;
    background-image: url("../images/icon-dropdawn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.5s ease;
}

.drink__label-wrap {
    margin-top: 16px;
    margin-bottom: 110px;
}
.drink__text-wrapper {
    padding: 24px 0;
    padding-left: 10px;
    margin-top: 16px;
    background: #F4F1EB;
    border-radius: 8px;
    display: inline-block;
    width: 98%;
    color: #333D4B
    
}
.drink__label h3{
    margin-bottom: 0;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.drink__label p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.drink__input:checked ~ .drink__text-wrapper{
    background: #0A775F;
    color: #fff;
}

.drink__blok {
    margin-top: 114px;
    background: #2C343E;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 32px;
}
.drink__blok-text h3{
    padding-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}
.drink__blok-text p{
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}
.drink__blok-text span{
    color: #0E8784;
}
.drink__btn{
    text-align: center;
}
.drink__blok-btn {
    display: inline-block;
    margin-top: 56px;
    padding: 15px 35px;
    background: #0E8784;
    border-radius: 6px;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
}

@media only screen and (min-width:320px){
    .drink__label p{
        width: 278px;
    }
}
@media only screen and (min-width:445px){
    .drink__text-wrapper{
        padding-left: 24px;
        width: 95%;
    }
    
}
@media only screen and (min-width:600px){
    .works__item--plan{
        width: 100%;
    }
}

@media only screen and (min-width:744px){
    .works--plan{
        margin-top: 144px;
        padding-top: 112px;
    }
    .works__wrapper--plan{
        margin-top: 0;
    }
    .works__item--plan:nth-child(1) {
        margin-top: 0px;
    }
    .works__item--plan:nth-child(3) {
        margin-bottom: 79px;
    }
    
    
    .drink__label-wrap{
        display: flex;
    }
    .drink{
        margin-top: 120px;
    }
    .drink__item {
        margin-top: 88px;
    }
    .drink__label{
        margin-right: 20px;
    }
    .drink__label:nth-child(3){
        margin-right: 0;
    }
    .drink__label-wrap {
        margin-top: 16px;
        margin-bottom: 110px;
    }
    
    .drink__label h3{
        margin-bottom: 0;
    }
    .drink__label p{
        width: 100%;
        margin-top: 8px;
    }
    .drink__summary{
        font-size: 40px;
        line-height: 48px;
    }
    .drink__btn{
        text-align: left;
    }
}

@media only screen and (min-width:789px){
    .works__plan-wrap{
        background: transparent;
    }
    .hero-plan__title {
        font-size: 72px;
        line-height: 72px;
        text-align: left;
    }
    .hero-plan__content {
        width: 445px;
    }
    .hero-plan__text {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
    .works__plan-title{
        padding-right: 40px;
    }
    
    .works__line--plan{
        display: inline-block;
        position: relative;
        margin-bottom: 62px;
        width: 500px;
        height: 2px;
        border: 2px solid #FDD6BA;
        background-color:#FDD6BA;
    }
    .works__cricle--plan{
        position: absolute;
        top: -15px;
        left: -12px;
        content: '';
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #0E8784;
    }
    .works__cricle--plan:nth-child(2){
        left: 245px;
    }
    .works__cricle--plan:nth-child(3){
        left: 485px;
    }
    .works__item--plan:nth-child(3) {
        margin-bottom: 97px;
    }
    
}

@media only screen and (min-width:853px){
    .hero-plan__title {
        margin-left: 56px;
    }
    .hero-plan__content {
        margin-left: 56px;
    }
}

@media only screen and (min-width:1000px){
    .hero-plan__title {
        margin-left: 86px;
    }
    .works__item--plan{
        width: 265px;
    }
    .hero-plan__content {
        width: 445px;
        margin-left: 86px;
    }
    .works__line--plan{
        margin-bottom: 48px;
        width: 620px;;
    }
    .works__cricle--plan{
        position: absolute;
        top: -15px;
        left: -12px;
        content: '';
        width: 31px;
        height: 31px;
    }
    .works__wrapper--plan{
        margin-left: 86px;
    }
    .works__cricle--plan:nth-child(2){
        left: 300px;
    }
    .works__cricle--plan:nth-child(3){
        left: 595px;
    }
    .drink__wrap{
        display: flex;
    }
    .drink__ollist{
        display: block;
    }
    .drink__list{
        width: 730px;
        
    }
    .drink__label{
        width: 228px;
        /* margin-right: 25px; */
    }
    .drink__label p{
        width: 172px;
    }
    .drink__ollist{
        margin-top: 62px;
        margin-right: 80px;
        list-style: none;
        padding-left: 0;
    }
    .drink__olitem span{
        margin-right: 28px;
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.25;
    }
    .drink__olitem h3{
        display: inline-block;
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.25;
        
    }
    .drink__summary{
        font-size: 40px;
        line-height: 48px;
    }
}
@media only screen and (min-width:1200px){
    .works__line--plan{
        width: 710px;;
    }
    .works__cricle--plan:nth-child(2){
        left: 366px;
    }
    .works__cricle--plan:nth-child(3){
        left: 690px;
    }
    .drink__ollist{
        margin-right: 120px;
        margin-left: 85px;
    }
}

